<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
//- <style>
//-     body{
//-         text-align: center;
//-         display: flex;
//-         justify-content: center;
//-         align-items: center;

//-     }
//-     .btn{
//-         margin: 20px;
//-         padding: 20px;
//-         font-size: 20px;
//-         font-weight: bold;
//-         cursor: pointer;
//-         border-radius: 20px;
        
//-     }
//-     a{
//-         text-decoration: none;
//-         color: black;
//-     }
//- </style>
<body>
    <button class="btn"><a href="/register">SignUp</a></button>
    <button class="btn"><a href="/login">Login</a></button>
    <button class="btn"><a href="/secret">Secret</a></button>
    <button class="btn"><a href="/logout">LogOut</a></button>


</body>
</html>